.container{
    margin-top: 1em;
}

.btn-primary {
    border-radius: 0.6em;
    font-weight: bold;
  
    font-size: 15px;
    padding: 0.7em;
    
  }
/* Estilos por defecto */
.leyenda {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    margin-left: auto;
  }

  
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .leyenda {
      justify-content: flex-start; /* Alinea el contenido a la izquierda */
      font-size: 10px; /* Tamaño de fuente más pequeño para dispositivos móviles */
      margin-left: 0; /* Reinicia el margen izquierdo */
    }
  }
  
  .hola{
    text-align: center;
    justify-content: center;
  }
  
  .estado {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Reducción del margen */
  }
  .circulo {
    width: 15px; /* Reducción del tamaño del círculo */
    height: 15px; /* Reducción del tamaño del círculo */
    border-radius: 50%;
    margin-right: 5px; /* Reducción del margen del círculo */
  }
  .completado { background-color: rgb(1, 112, 1); }
  .en-revision { background-color: rgb(255, 208, 0); }
  .en-proceso { background-color: rgb(87, 87, 87); }
  .detenido { background-color: rgb(197, 1, 1); }
  
/* html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
     background-image: url('https://unamba.edu.pe/media/k2/items/cache/8fe3e0f34d3083cba6fe73d62a783d7f_XL.jpg?t=1628912461');    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

    .color-palette {
      height: 35px;
      line-height: 35px;
      text-align: right;
      padding-right: .75rem;
    }

    .color-palette.disabled {
      text-align: center;
      padding-right: 0;
      display: block;
    }

    .color-palette-set {
      margin-bottom: 15px;
    }

    .color-palette span {
      display: none;
      font-size: 12px;
    }

    .color-palette:hover span {
      display: block;
    }

    .color-palette.disabled span {
      display: block;
      text-align: left;
      padding-left: .75rem;
    }

    .color-palette-box h4 {
      position: absolute;
      left: 1.25rem;
      margin-top: .75rem;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      display: block;
      z-index: 7;
    }

    /* Estilos generales para tamaños grandes */
    .content {
      padding: 20px; /* Ajusta el espaciado según tus necesidades */
    }
    

    /* Media query para dispositivos con un ancho de pantalla de hasta 767px (tamaños móviles) */
    @media (max-width: 767px) {
      .content {
        padding: 10px; /* Ajusta el espaciado para dispositivos móviles según tus necesidades */
      }
      
      /* Puedes agregar estilos adicionales específicos para dispositivos móviles aquí */
      .info-box {
        margin-bottom: 10px; /* Por ejemplo, ajusta el margen entre las info-boxes en dispositivos móviles */
      }
      .leyenda {
        align-items: center; /* Centra los elementos en el eje transversal */
      }
    
      .estado {
        margin-bottom: 10px; /* Ajusta el margen entre los estados */
      }
      .circulo {
        width: 10px; /* Tamaño del círculo */
        height: 10px;
        border-radius: 50%;
        margin-bottom: 5px; /* Espaciado entre el círculo y el texto */
      }
    }

  /*imagen */
  .invoice{
    padding: 1em;
}

.img-container {
    text-align: center; /* Alinea horizontalmente */
  }
  
  .img-container img {
    display: block; /* Convierte la imagen en un bloque */
    margin: 0 auto; /* Alinea automáticamente horizontalmente */
    max-width: 100%; /* Para asegurar que la imagen no sea más ancha que su contenedor */
  }

  .tilt-animation {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    animation: tiltAndScale 2s infinite ease-in-out; /* Agrega la animación de escala */
}
  

@keyframes tiltAndScale {
    0% {
      transform: rotate(0deg) scale(1); /* Sin inclinación ni escala al principio */
    }
    25% {
      transform: rotate(15deg) scale(1.2); /* Inclinación hacia la derecha y escala al 120% */
    }
    50% {
      transform: rotate(-15deg) scale(1.2); /* Inclinación hacia la izquierda y escala al 120% */
    }
    75% {
      transform: rotate(15deg) scale(1.2); /* Inclinación hacia la derecha y escala al 120% */
    }
    100% {
      transform: rotate(0deg) scale(1); /* Sin inclinación ni escala al final */
    }
  }  